$color-dark: #101010;
$color-dark-1: #232323;
$color-gray: #868686;
$color-gray-1: #F3F3F3;
$color-gray-2: rgba(0, 0, 0, 0.1);
$color-gray-3: #E8E8E8;
$color-white: #fff;
$color-green: #9EFFBF;
$color-purple: #7941A7;
$color-pink: #E2BEFF;
$color-blue: #1059C8;

$transition-time-short: 0.15s;